# Validation of takeout results

### Setup

In [1]:
# Import packages
import os
import json
import datetime
from datetime import timedelta, datetime
import pandas as pd
from dotenv import load_dotenv

from agno.agent import Agent
from agno.models.groq import Groq
from agno.tools import Toolkit

In [2]:
load_dotenv('../.env')
api_key = os.getenv('GROQ_API_KEY')

We will configure multiple LLMs using [Agno Agents](https://github.com/agno-agi/agno), each requiring a Groq API Key for access which you can create [here](https://console.groq.com/keys). These models include different versions of Meta's LLaMA 3 and other specialized models like Google's Gemma 2 and Mixtral. Each model will be used by different agents to generate diverse outputs for the MLB game recap.

In [3]:
llm_model = Groq(id="llama-3.3-70b-versatile", api_key=api_key)

In [4]:
import pandas as pd
grubhub = pd.read_csv('grubhub.csv', 
                      names=['na','restaurant','price','date'])
grubhub.drop('na',axis=1,inplace=True)
grubhub['date'] = pd.to_datetime(grubhub['date'])
grubhub

                    restaurant  price       date
0         Little Caesars Pizza  21.24 2025-01-18
1                    Five Guys  32.93 2025-01-05
2                Maiwand Kabob  53.43 2024-12-29
3                     Chipotle  51.06 2024-12-27
4                    Five Guys  32.93 2024-12-21
..                         ...    ...        ...
56               Maiwand Kabob  60.63 2024-02-06
57                      An Loi  47.42 2024-02-01
58                   Soul Boat  34.68 2024-01-22
59                     Bonchon  25.83 2024-01-12
60  Bon Fresco Sandwich Bakery  40.81 2024-01-05

[61 rows x 3 columns]

### Define Tools

In [5]:
def helper(restaurant_name: str, start_date: str, end_date: str) -> pd.DataFrame:
    name_match = True if not restaurant_name else grubhub['restaurant'] == restaurant_name
    date_match = (grubhub['date'] >= start_date) & (grubhub['date'] <= end_date)
    matches = grubhub[name_match & date_match]

    return matches

In [6]:
def get_frequency(restaurant_name: str = '', start_date: str = '2000-01-01', end_date: str = '2026-01-01') -> str:
    """Gets the number of times a restaurant appears in the data
    on or inbetween the given dates
    """
    matches = helper(restaurant_name, start_date, end_date)
    retval= {
        'frequency': matches.shape[0]
    }
    return json.dumps(retval)

print(get_frequency(start_date='2024-02-01', end_date='2024-02-28', restaurant_name='An Loi'))
print(get_frequency(start_date='2024-02-01', end_date='2024-02-28'))

{"frequency": 2}
{"frequency": 6}

In [7]:
def get_cost(restaurant_name: str = '', start_date: str = '2000-01-01', end_date: str = '2026-01-01') -> str:
    """Get the total cost of meals from a restaurant within a date range
    """
    matches = helper(restaurant_name, start_date, end_date)
    
    retval = {
        'total_cost': matches['price'].sum()
    }
    return json.dumps(retval)

print(get_cost(start_date='2024-02-01', end_date='2024-02-28', restaurant_name='An Loi'))

{"total_cost": 74.07}

### Define Agents

In [8]:
takeout_q = Agent(
    name = 'takeout_q',
    model=llm_model,
    description="An agent that answers questions about takeout history",
    instructions = [
        f"Parse the restaurant name (use '' if user does not specify), start date, and end date from the user question.",
        "Use the tools to answer questions about my takeout habits",    
    ],
    tools=[get_frequency, get_cost],
    show_tool_calls=True
)

class TakeoutTools(Toolkit):
    def __init__(self):
        super().__init__(name="takeout_tools")
        setattr(self.__class__, 'get_frequency', classmethod(get_frequency))
        setattr(self.__class__, 'get_cost', classmethod(get_cost))
        self.register(self.get_frequency)
        self.register(self.get_cost)

toolkit_takeout_q = Agent(
    name = 'toolkit_takeout_q',
    model=llm_model,
    description="An agent that answers questions about takeout history",
    instructions = [
        f"Parse the restaurant name (use '' if user does not specify), start date as yyyy-MM-dd, and end date as yyyy-MM-dd from the user question.",
        "Use the available tools to answer questions about takeout history",    
    ],
    tools=[TakeoutTools()],
    show_tool_calls=True,
    markdown=False
)

In [9]:
user_prompt = {
    0: ['how many times did I eat at An Loi during the month of August 2024?',
        get_frequency(restaurant_name='An Loi', start_date='2024-08-01', end_date='2024-08-31')],
    
    1: ['how many times did I order takeout during the month of August 2024?',
        get_frequency(restaurant_name='', start_date='2024-08-01', end_date='2024-08-31')],
    
    2: ['how much did I spend at An Loi during the month of June 2024?',
        get_cost(restaurant_name='An Loi', start_date='2024-06-01', end_date='2024-06-30')],
    
    3: ['how much did I spend on takeout in July of 2024?',
        get_cost(restaurant_name='', start_date='2024-07-01', end_date='2024-07-31')],
    
    4: ['did I spend more in takeout in October or November of 2024?',
        'October' if get_cost(restaurant_name='', start_date='2024-10-01', end_date='2024-10-31') > get_cost(restaurant_name='', start_date='2024-10-01', end_date='2024-10-31') else 'November'],
    
    5: ['how much did I spend on takeout in January 2024 and February 2024?',
        get_cost(restaurant_name='', start_date='2024-01-01', end_date='2024-02-29')],
    
    6: ['how much did I spend on takeout in January 2024?',
        get_cost(restaurant_name='', start_date='2024-01-01', end_date='2024-01-31')],

    7: ['how many times did I eat at An Loi during the month of February 2024?',
        get_frequency(restaurant_name='An Loi', start_date='2024-02-01', end_date='2024-02-29')],
    
    8:['how many times did I eat out during the month of February 2024?',
        get_frequency(restaurant_name='', start_date='2024-02-01', end_date='2024-02-29')],    
}
user_prompt

{0: ['how many times did I eat at An Loi during the month of August 2024?',
  '{"frequency": 1}'],
 1: ['how many times did I order takeout during the month of August 2024?',
  '{"frequency": 5}'],
 2: ['how much did I spend at An Loi during the month of June 2024?',
  '{"total_cost": 45.4}'],
 3: ['how much did I spend on takeout in July of 2024?',
  '{"total_cost": 95.47}'],
 4: ['did I spend more in takeout in October or November of 2024?',
  'November'],
 5: ['how much did I spend on takeout in January 2024 and February 2024?',
  '{"total_cost": 328.90000000000003}'],
 6: ['how much did I spend on takeout in January 2024?',
  '{"total_cost": 101.32}'],
 7: ['how many times did I eat at An Loi during the month of February 2024?',
  '{"frequency": 2}'],
 8: ['how many times did I eat out during the month of February 2024?',
  '{"frequency": 6}']}

In [10]:
%%time
result = takeout_q.run(user_prompt[5][0], stream=False)
print(result.content)

You spent a total of $328.90 on takeout in January 2024 and February 2024.
CPU times: user 91.9 ms, sys: 18.1 ms, total: 110 ms
Wall time: 1.16 s

In [11]:
from ast import literal_eval


agents = [takeout_q, toolkit_takeout_q]

cols = ['agent', 'prompt_id', 'iteration', 'success']
metrics = []

for agent in agents:
    for prompt_id in [2,3,5]: #range(1): #range(len(user_prompt)):
        print(f'{prompt_id=}')
        for it in range(5):
            result = agent.run(user_prompt[prompt_id][0], stream=False)
            # check result
            dict_expected = literal_eval(user_prompt[prompt_id][1])
            expected = list(dict_expected.values())[0]
            metric = {
                'agent': agent.name,
                'prompt_id': prompt_id,
                'iteration': it,
                'success': str(expected) in result.content,
                'content' : result.content
            }
            metrics.append(metric)

telem = pd.DataFrame.from_dict(metrics)
pd.set_option('max_colwidth', None)
telem

prompt_id=2
prompt_id=3
prompt_id=5

Exception ignored in: <function SyncHttpxClientWrapper.__del__ at 0x1221711c0>
Traceback (most recent call last):
  File "/Users/robertholder/Documents/installs/miniconda3/envs/agnoenv/lib/python3.11/site-packages/groq/_base_client.py", line 770, in __del__
    if self.is_closed:
       ^^^^^^^^^^^^^^
  File "/Users/robertholder/Documents/installs/miniconda3/envs/agnoenv/lib/python3.11/site-packages/httpx/_client.py", line 228, in is_closed
    return self._state == ClientState.CLOSED
           ^^^^^^^^^^^
AttributeError: 'SyncHttpxClientWrapper' object has no attribute '_state'
Exception ignored in: <function SyncHttpxClientWrapper.__del__ at 0x1221711c0>
Traceback (most recent call last):
  File "/Users/robertholder/Documents/installs/miniconda3/envs/agnoenv/lib/python3.11/site-packages/groq/_base_client.py", line 770, in __del__
    if self.is_closed:
       ^^^^^^^^^^^^^^
  File "/Users/robertholder/Documents/installs/miniconda3/envs/agnoenv/lib/python3.11/site-packages/httpx/_client.py", line 228, in is_closed
    return self._state == ClientState.CLOSED
           ^^^^^^^^^^^
AttributeError: 'SyncHttpxClientWrapper' object has no attribute '_state'

prompt_id=2
prompt_id=3
prompt_id=5

,agent,prompt_id,iteration,success,content
0,takeout_q,2,0,True,You spent $45.4 at An Loi during the month of June 2024.
1,takeout_q,2,1,True,You spent $45.4 at An Loi during the month of June 2024.
2,takeout_q,2,2,True,You spent a total of $45.4 at An Loi during the month of June 2024.
3,takeout_q,2,3,True,You spent $45.4 at An Loi during the month of June 2024.
4,takeout_q,2,4,True,You spent $45.4 at An Loi during the month of June 2024.
5,takeout_q,3,0,True,You spent $95.47 on takeout in July of 2024.
6,takeout_q,3,1,True,You spent a total of $95.47 on takeout in July 2024.
7,takeout_q,3,2,True,You spent $95.47 on takeout in July 2024.
8,takeout_q,3,3,True,You spent $95.47 on takeout in July 2024.
9,takeout_q,3,4,True,You spent a total of $95.47 on takeout in July 2024.
10,takeout_q,5,0,False,"You spent a total of $328.90 on takeout between January 1, 2024, and February 28, 2024."
11,takeout_q,5,1,False,You spent $328.90 on takeout in January 2024 and February 2024.
12,takeout_q,5,2,False,The total amount spent on takeout in January 2024 is $101.32 and in February 2024 is $227.58.
13,takeout_q,5,3,False,You spent a total of $328.90 on takeout in January 2024 and February 2024.
14,takeout_q,5,4,False,You spent $328.90 on takeout in January 2024 and February 2024.
15,toolkit_takeout_q,2,0,True,You spent a total of $45.4 at An Loi during the month of June 2024.
16,toolkit_takeout_q,2,1,True,You spent $45.4 at An Loi during the month of June 2024.
17,toolkit_takeout_q,2,2,True,You spent a total of $45.4 at An Loi during the month of June 2024.
18,toolkit_takeout_q,2,3,True,You spent $45.4 at An Loi during the month of June 2024.
19,toolkit_takeout_q,2,4,True,You spent $45.4 at An Loi in June 2024.
20,toolkit_takeout_q,3,0,True,You spent $95.47 on takeout in July 2024.
21,toolkit_takeout_q,3,1,True,You spent $95.47 on takeout in July 2024.
22,toolkit_takeout_q,3,2,True,You spent $95.47 on takeout in July 2024.
23,toolkit_takeout_q,3,3,True,You spent a total of $95.47 on takeout in July 2024.
24,toolkit_takeout_q,3,4,False,"<function=get_cost{""start_date"": ""2024-07-01"", ""end_date"": ""2024-07-31"", ""restaurant_name"": """"}</function>"
25,toolkit_takeout_q,5,0,False,You spent $328.90 on takeout in January and February 2024.
26,toolkit_takeout_q,5,1,False,You spent $328.90 on takeout in January and February 2024.
27,toolkit_takeout_q,5,2,False,You spent $328.90 on takeout in January and February 2024.
28,toolkit_takeout_q,5,3,False,You spent $328.90 on takeout in January 2024 and February 2024.
29,toolkit_takeout_q,5,4,False,Your total spending on takeout for January and February 2024 is $328.90.